@import './fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

:root {
    --RT: 'Raleway-Thin';
    --RR: 'Raleway-Regular';
    --RB: 'Raleway-Bold';
    --RBL: 'Raleway-Black';
    --RTR: 'Roboto-Regular';
    --RTB: 'Roboto-Bold';
    --maincolor: #FFFFFF;
    --green: #69CF17;
}

.street_88 {
    font-family: var(--RB);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: var(--maincolor);
    background: rgba(105, 207, 23, 0.5);
    padding: 12px 18px;
    border-radius: 6px;
}

.heh {
    background: #0C0C0C;
}

.frst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.sign {
    color: var(--maincolor);
    margin-right: 5px;
    transition: 0.3s;
}

.lol:hover .sign {
    color: var(--green);
}

.frst_title {
    font-family: var(--RTR);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--maincolor);
    margin-left: 5px;
}

.lol {
    transition: 0.3s;
}

.lol:hover {
    color: var(--green);
}

.frst_list {
    display: flex;
    gap: 20px;
}

.frst_list_link a {
    font-family: var(--RTR);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: var(--maincolor);
    transition: 0.3s;
}

.frst_list_link a:hover {
    background: var(--green);
    padding: 19px 10px 19px 10px;
}

.header {
    background: #000000;
    backdrop-filter: blur(7.5px);
    padding-bottom: 28px;
}

.nav_ha {
    background: #000000;
    border-top: 1px solid rgba(125, 115, 115, 0.5);
    border-bottom: 1px solid rgba(125, 115, 115, 0.5);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 0 6px 0;
}

.nav_list {
    display: flex;
    gap: 28px;
}

.nav_list_link a {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: var(--maincolor);
    transition: 0.3s;
}

.nav_list_link a:hover {
    background: var(--green);
    padding: 22px 10px 22px 10px;
}

.gamburger {
    position: relative;
    height: 700px;
    display: flex;
    align-items: center;
}

.gamburger_img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bruh {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1110px;
}

.gamburger_title {
    font-family: var(--RB);
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 85px;
    color: var(--green);
}

.gamburger_sp {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 17px;
    color: var(--green);
    margin-top: 18px;
    margin-bottom: 18px;
}

.gamburger_text {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--maincolor);
    margin-bottom: 30px;
}

.price_btn {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: right;
    color: var(--maincolor);
    padding: 15px 71px;
    background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
    border-radius: 6px;
    transition: 0.3s;
    max-width: 255px;
    max-height: 51px;
}

.price_btn:hover {
    color: #000000;
}

.btn_shits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn_aftr {
    font-family: var(--RT);
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 25px;
    text-align: right;
    color: var(--maincolor);
    padding: 33px 76px;
    background: rgba(105, 207, 23, 0.5);
    backdrop-filter: blur(9px);
}

.main {
    background: #000000;
    padding-bottom: 50px;
}

.main_nav {
    background: #292929;
    box-shadow: 0px 1px 8px rgba(17, 17, 17, 0.3);
}

.main_nav_list {
    display: flex;
    gap: 36px;
    padding-left: 21px;
}

.main_nav_list_link a {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: var(--maincolor);
}

.main_nav_list_link a::after {
    content: '';
    display: block;
    max-width: 100%;
    height: 1px;
    background: var(--maincolor);
    transform: scale(0);
    transition: 0.3s;
}

.main_nav_list_link a:hover:after {
    transform: scale(1);
}

.padding {
    padding-top: 21px;
    padding-bottom: 19px;
    display: inline-block;
}

.menu {
    background: #393636;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.food {
    max-width: 370px;
    padding: 15px 16px;
    background: #0C0C0C;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
}

.food_title {
    font-family: var(--RB);
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 15px;
    color: var(--maincolor);
    padding-top: 15px;
    padding-bottom: 15px;
}

.food_text {
    font-family: var(--RR);
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: var(--maincolor);
}

.food_img {
    width: 338px;
    height: 325px;
    background: url(../img/menu.png) center center / cover;
    position: relative;
    transition: 0.6s;
}

.plus {
    width: 63px;
    height: 60px;
    color: var(--maincolor);
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 132.5px;
    left: 137.5px;
    transform: scale(0);
    transition: 1s;
}

.food_img:hover .plus {
    transform: scale(1);
}

.food_img_link {
    background: rgba(105, 207, 23, 0.9);
    width: 100%;
    height: 100%;
    display: inline-block;
    transform: scale(0);
    transition: 0.5s;
}

.food_img:hover .food_img_link {
    transform: scale(1);
}

.section {
    background: #FFFFFF;
}

.section_title {
    font-family: var(--RB);
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 40px;
    color: var(--green);
    text-align: center;
    padding: 20px 0 20px;
}

.map {
    width: 100%;
}

.footer {
    background: linear-gradient(180deg, #000000 0%, #417D11 100%);
}

.last {
    padding: 50px 0 81px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.last_tel {
    font-family: var(--RTB);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    color: var(--maincolor);
}

.last_list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 81px;
}

.lst_list_link a {
    font-family: var(--RTR);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: var(--maincolor);
}

.for {
    background: #1A3406;
    padding: 19px 0 19px;
    text-align: center;
    font-family: var(--RTR);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--maincolor);
}